<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header>
        <a href="/logout">Log out</a>
    </header>
        {% block body %}{% endblock %}

        <script type="text/javascript" src="{{ asset("js/jquery-2.2.3.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
