<div class="row">
    <div class="col s2">
        <ul>
            <li><a href="/promotion/{{ user.promotionYear }}">Ma Promotion</a></li>
            <li><a href="/bachelor/{{ bachelor.shortcut }}/{{ user.promotionYear }}">Ma classe</a></li>
            <li><a href="/bachelor/{{ bachelor.shortcut }}">Mon Bachelor</a></li>
        </ul>
    </div>
</div>