$white: rgba(255, 255, 255, 1.0);
$darkerGrey: rgba(57, 57, 57, 1.0);
$darkGrey: rgba(63, 63, 63, 1.0);
$grey: rgba(80, 80, 80, 1.0);
$lightGrey: rgba(107, 107, 107, 1.0);


nav {
  background-color:$grey;

  .dropdown-content {
    margin-top:65px;
  }
}

