<form method="POST" action="{{ path("add_content") }}">
    {#<label for="content">Contenu du post :</label><textarea name="content" id="content" required></textarea><br/>#}
    {#<input type="submit"/>#}
{{ form(form) }}
</form>


